/* Loading spinner — ortada dönen animasyon */
.loading {
  position: fixed;
  z-index: 99999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.loading:not(:required) {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em; height: 1em;
  margin-top: -0.5em;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  box-shadow:
    #ff5f8d 1.5em 0 0 0,
    #ffd54f 1.1em 1.1em 0 0,
    #7e57c2 0 1.5em 0 0,
    #42a5f5 -1.1em 1.1em 0 0,
    #66bb6a -1.5em 0 0 0,
    #fb8c00 -1.1em -1.1em 0 0,
    #ec407a 0 -1.5em 0 0,
    #ab47bc 1.1em -1.1em 0 0;
}

@keyframes spinner {
  0%   { transform: rotate(0deg);   }
  100% { transform: rotate(360deg); }
}